<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exports Chart</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    	var exports_data = {{exports_data | tojson}};
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/line/style.css') }}">
	</head>

  <body>
  	<div class="menu">
      <h5>Line Chart:
      	<button id="gdpButton">GDP</button>
      	<button id="importsButton">Imports</button>
      	<button id="exportsButton">Exports</button>
      	<button id="growthButton">Country Growth</button>
    	</h5>
  	</div>
  	<script src="{{ url_for('static', filename='js/line/exports_app.js') }}"></script>
  </body>
</html>
